@model SIG_PSPEP.Entidades.Efectivo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Efectivo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Num_Processo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Num_Processo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NIP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NIP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.N_Agente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.N_Agente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeCompleto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeCompleto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apelido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apelido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataNasc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataNasc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoCivil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoCivil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GSanguineo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GSanguineo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumBI)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumBI)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BIValidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BIValidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BIEmitido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BIEmitido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumCartaConducao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumCartaConducao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CartaValidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CartaValidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CartaEmitido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CartaEmitido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumPassaporte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumPassaporte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PassapValidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PassapValidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PassapEmitido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PassapEmitido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nacionalidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nacionalidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProvinciaNascId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProvinciaNascimento.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MunicipioId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Municipio.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destrito_BairroRes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destrito_BairroRes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rua)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rua)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CasaNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CasaNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Habilitacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Habilitacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CursoHabilitado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CursoHabilitado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstitAcademica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstitAcademica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefone1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefone2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataIngresso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataIngresso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoVinculo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoVinculo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Carreira)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Carreira)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnidadeOrigem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnidadeOrigem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OutrasInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OutrasInfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FuncaoCargo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FuncaoCargo.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SituacaoEfectivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SituacaoEfectivo.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrgaoUnidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrgaoUnidade.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patente.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataRegisto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataRegisto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataUltimaAlterecao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataUltimaAlterecao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
