@model IEnumerable<SIG_PSPEP.Entidades.Efectivo>

@{
    ViewData["Title"] = "Index";
}
<link href="~/dist/css/mystyle.css" rel="stylesheet" />
<!-- Estilos do DataTables -->
<link href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css" rel="stylesheet">

<!-- jQuery e DataTables -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>

<div class="container-fluid">

    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-2">
                <h5>Lista de Registros</h5>
                <button id="novoRegistro" class="btn btn-success">Criar Novo</button>
            </div>
            <div class="table-responsive">
                <table id="minhaTabela" class="DataTable table table-striped table-bordered display">
                    <thead>
                        <tr>
                            <th class="text-center">
                                Nº
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Patente)
                            </th>
                            <th class="w-25">
                                @Html.DisplayNameFor(model => model.NomeCompleto)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FuncaoCargo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SituacaoEfectivo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.OrgaoUnidade)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NIP)
                            </th>
                            <th class="w-25"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int index = 1;
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="text-center">@index</td>
                                   
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Patente.Posto)
                                    </td>
                                    <td class="w-25">
                                        @Html.DisplayFor(modelItem => item.NomeCompleto)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FuncaoCargo.NomeFuncaoCargo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SituacaoEfectivo.TipoSituacao)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OrgaoUnidade.NomeOrgaoUnidade)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NIP)
                                    </td>

                                    <td class="text-center w-25">
                                        <a id="openEditModal_@item.Id" asp-action="Edit" asp-route-id="@item.Id">
                                            <i class="fas fa-pencil-alt" style="color: #007BFF;"></i>
                                        </a>
                                        <a id="openDetalheModal_@item.Id" asp-action="Details" asp-route-id="@item.Id">
                                            <i class="fas fa-eye" style="color: #28A745;"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-upload" style="color: #11008B;"></i>
                                        </a>
                                        <a id="openDeleteModal_@item.Id" href="@Url.Action("DeleteConfirmed", new { id = item.Id })" data-id="@item.Id">
                                            <i class="fas fa-trash-alt" style="color: #DC3545;"></i>
                                        </a>
                                    </td>
                                </tr>
                                index++;
                            }

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#minhaTabela').DataTable({
            "language": {
                "decimal": ",",
                "thousands": ".",
                "search": "Buscar:",
                "lengthMenu": "Mostrar _MENU_ registros por página",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ registros",
                "infoEmpty": "Nenhum registro disponível",
                "infoFiltered": "(filtrado de _MAX_ registros no total)",
                "loadingRecords": "Carregando...",
                "processing": "Processando...",
                "zeroRecords": "Nenhum registro encontrado",
                "emptyTable": "Nenhum dado disponível na tabela",
                "paginate": {
                    "first": "Primeiro",
                    "previous": "Anterior",
                    "next": "Próximo",
                    "last": "Último"
                },
                "aria": {
                    "sortAscending": ": ativar para ordenar a coluna em ordem crescente",
                    "sortDescending": ": ativar para ordenar a coluna em ordem decrescente"
                }
            }
        });
    });
</script>









